# This is a pip requirement file.  See http://pypi.python.org/pypi/pip
# dbfpy can't be easily downloaded as of Feb 2012
# dbfpy==2.2.5
http://downloads.sourceforge.net/project/dbfpy/dbfpy/2.2.5/dbfpy-2.2.5.tar.gz?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Fdbfpy%2Ffile

Django==1.4.1
django-extensions==0.9
South==0.7.6
celery==3.0.11
psycopg2==2.4.4
pytz==2011n
simplejson==2.3.2
wsgiref==0.1.2
pyshp==1.1.4
mox==0.5.3
dj-database-url==0.2.1

# Work in progress
git+git://github.com/tulsawebdevs/django-multi-gtfs.git#egg=multigtfs
