# This is a pip requirement file.  See http://pypi.python.org/pypi/pip
Django==1.6.5
six==1.7.3
django-extensions==1.3.8
South==0.8.4
django-celery==3.1.10
psycopg2==2.5.3
pytz==2014.4
simplejson==2.6.2
mox==0.5.3
dj-database-url==0.3.0
multigtfs==0.4.0
gunicorn
