# Detect deviations from PEP8 standard formatting, as well as unused
# and missing variables
flake8
# Show what lines are run by test suite
coverage

# Command-line interpreter and debugger with auto-completion
ipython
ipdb

# Better testing
django-nose

# For admin documentation
docutils

# For ./manage.py runserver_plus
Werkzeug

# Google chose not to host on pypi
--allow-external transitfeed
--allow-unverified transitfeed
transitfeed
