{% extends 'ttg/base.html' %}
{% load url from future %}
{% block title %}Files{% endblock %}
{% block body %}
<h1>Files</h1>
<p><a href="{% url 'home' %}">Back to Home</a></p>
<table>
    <tr><th>File Name</th><th>Date Added</th><th>Source</th><th>Current?</th></tr>
{% for f in files %}
<tr>
    <td><a href="{{f.file.url}}">{{f.file.name}}</td>
    <td>{{f.created}}</td>
    <td>{{f.get_source_display}}</td>
    <td>
        {% if f.is_feed %}
            {% if f.is_current %}
            <b>Current</b>
            {% else %}
            <form action="{% url 'set_current' f.id %}" method="POST">{% csrf_token %}<button type="submit">Set as current</button></form>
            {% endif %}
        {% endif %}
    </td>
</tr>
{% empty %}
<tr><td span=3><em>None</em></td></tr>
{% endfor %}
</table>

<h2>Upload New</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" enctype="multipart/form-data">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" value="Submit" />
</form>
{% endblock %}
